<h2>Suzy's Care Team</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>From</th>
      <th>Email</th>
      <th>Subject</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.user.name %></td>
        <td><%= message.user.email %></td>
        <td><%=message.title %></td>
        <td><%= message.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user %>
  <%= link_to "Send a message", messages_new_path %>
<% end %>


